*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}
.logo img{
    height: 65px;
    width: 70px;
}
.links a{
    position: relative;
    margin: 10px;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 1px;
    text-decoration: none;
    color: black;
}
.links a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width .4s linear;
}
.links a:hover span{
    width: 100%;
    border-bottom: 2px solid black;
}
.contact{
    font-weight: bold;
    font-size: 16px;
    height: 1em;
}
.inbox{
    margin-top: 2.5em;
}
.inbox h1{
    padding-top: 2em;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 55px; 
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4em; 
}
.flex div{
    border: 2.5px solid black;
    padding: 5px;
    font-weight: bold;
}
.arw{
    background-color: black;
    color: white;
}
.goal{
    margin-top: 5em;
    text-align: center;
    font-weight: bold;
    font-size: 16px; 
}
.rarw{
    margin: auto;
    margin-top: 10px;
    height: 7px;
    width: 22px;
    background-color: black;
    transform: rotate(-20deg);
}
#contact{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    height: 47em;
    display: none;
    width: 100%;
    text-align: center;
}
.close{
    padding-top: 30px;
    font-size: 40px;
    color: grey;
}
.close p{
    font-size: 12px;
    text-transform: uppercase;
}
.mail h3{
    margin-top: 3em;
    font-size: 2.5em;
}
.mail h1 a{
    font-size: 5em;
    text-decoration: none;
    color: #3F3F3F;
}
.social{
    margin-top: 10em;
}
.social h3{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
}
.social div{
    margin-top: 10px;
}
.social div>a{
    margin: 30px;
    color: #3F3F3F;
    opacity: 0.7;
    font-weight: bold;
    letter-spacing: 5px;
}
@media screen and (max-width: 1026px){
    .mail h3{
        margin-top: 3em;
        font-size: 2em;
    }
    .mail h1 a{
        font-size: 3.5em;
    }
    .social{
        margin-top: 14em;
    }
}
@media screen and (max-width: 770px){
    .mail h3{
        margin-top: 7em;
        font-size: 1.5em;
    }
    .mail h1 a{
        font-size: 2.5em;
    }
    .social{
        margin-top: 12em;
    }
}
@media screen and (max-width: 427px){
    .contact{
        display: none;
    }
    .header{
        flex-direction: column;
        text-align: center;
    }
    .header div{
        padding: 10px;
    }
    .inbox h1{
        font-size: 35px;
    }
}
@media screen and (max-width: 322px){
    .inbox h1{
        font-size: 30px;
    }
}
