*{
    margin: 0;
    padding: 0;
}
#about{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-color: #E7EEED;
    padding-bottom: 13em;
}
.header{
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.header a{
    font-size: 14px;
    color: rgb(90, 89, 89);
    text-decoration: none;
}
.resume{
    margin-top: 4em;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.resume a{
    border: 3px solid darkblue;
    padding: 7px;
    border-radius: 30px;
    color: darkblue;
}
.resume a:hover{
    background-color: white;
    color: black;
}
.name{
    margin-top: 7em;
    text-align: center;
}
.name h1{
    font-family: 'Rock Salt', cursive;
    font-size: 55px;
    color: #1544C0; 
}
.name p{
    margin: auto;
    margin-top: 2em;
    font-size: 14px;
    color: rgb(100, 99, 99);
    font-weight: bold;
    width: 35em;
    text-align: left;
}
.social{
    margin-top: 5em;
    text-align: center;
}
.social a{
    color: black;
    font-weight: bold;
    padding: 10px;
}
@media screen and (max-width: 1442px){
    #about{
        padding-bottom: 7.56em;
    }
}
@media screen and (max-width: 1024px){
    #about{
        padding-bottom: 7.56em;
    }
}
@media screen and (max-width: 770px){
    #about{
        padding-bottom: 7.56em;
    }
}
@media screen and (max-width: 427px){
    #about{
        padding-bottom: 7.35em;
    }
    .name h1{
        font-size: 35px;
    }
    .name p{
        font-size: 14px;
        width: 270px;
    }
}
@media screen and (max-width: 322px){
    #about{
        padding-bottom: 8.1em;
    }
    .name h1{
        font-size: 30px;
    }
}